@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.title {
  /* базовые стили */
  display: inline-block;
  font-family: $font-main;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: fluid(18, 14);        // от 14px до 18px
//   padding: fluid(12, 8) fluid(24, 16); // вертикаль и горизонталь
  text-align: center;
  background-color: $primary-color;
  color: $bg-color;                // светлый текст на тёмном фоне
  transition: background-color 0.2s ease;

  &:hover {
    background-color: lighten($primary-color, 10%); // чуть светлее при наведении
  }
}