.menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}
.menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}