body {
    transition: all 0.3s;
}
body.theme-dark {
    background: black; 
    color: white;
}


.menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}
.menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/* form */
.invalid {
  border: 2px solid red;
}
