@use '../abstracts/variables' as *;
@use '../abstracts/constants' as *; // если нужно
@use '../abstracts/functions' as *; // для fluid() здесь

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-main, system-ui, sans-serif;
  line-height: 1.6;
  font-size: fluid(18, 16);
}