// Abstracts (всё, что "инструменты")
@use 'abstracts/constants';
@use 'abstracts/functions';
@use 'abstracts/variables';

// Базовые стили и компоненты
@use 'components/title';

@use 'base/base'; // ← он сам знает, что ему нужно
// ... остальное